/* TableWithToggle.css */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #1a1a1a; /* Moved background-color here from the other button selector */
}

.toggle-button {
  width: 100%;
  flex: 1; /* Equal-width buttons within a row */
  padding: 10px 0;
  cursor: pointer;
}

button.active {
  background-color: #3498db;
  color: white;
}

.centered-heading {
  font-weight: bold;
  text-align: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #242424;
}

.clear-button,
.clear-button.visible {
  margin-left: 10px;
  padding: 0.6em 1.2em;
  color: white;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.total-score {
  margin-left: 10px;
}

.table-container, .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row {
  width: 100%;
  padding-bottom: 10px;
  gap: 1%;
}

.toggle-exclusive-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.toggle-exclusive-group button{
  margin-inline : 0;
  border-radius: 0;
  border-right: 1px solid #ffffff; 
}

.toggle-exclusive-group button:not(.active) {
  border-right-color: transparent;
  border-right: 1px solid #ffffff; 
}


.toggle-exclusive-group:hover .button {
  border-right-color: transparent; 
}

.toggle-exclusive-group button:first-child {
  border-radius: 8px 0 0 8px;
}

.toggle-exclusive-group button:last-child {
  border-radius: 0 8px 8px 0;
  border-right-color: transparent;
}

.toggle-exclusive-group .button:hover{
  border-color: #646cff;
}
